@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply overflow-y-scroll;
	}
	body {
		@apply text-base bg-primary-dark text-primary-light print:text-primary-dark;
	}
	h1 {
		@apply text-5xl font-bold;
	}
	h2 {
		@apply text-4xl font-bold;
	}
	h3 {
		@apply text-3xl font-bold;
	}
	h4 {
		@apply text-2xl font-bold;
	}
	h5 {
		@apply text-xl font-bold;
	}
}

@layer components {
	.btn-primary {
		@apply p-2 transition-colors duration-300 rounded shadow bg-primary-teal hover:bg-secondary-teal active:bg-primary-teal;
	}
	.btn-secondary {
		@apply p-2 transition-colors duration-300 rounded shadow bg-primary-semi hover:bg-secondary-semi active:bg-primary-semi;
	}
	.navbar-item {
		@apply inline-flex items-center gap-2 font-extrabold transition-all duration-300 text-skin-secondary hover:text-skin-primary;
	}
	.sidebar-contact-icon {
		@apply inline-flex items-center justify-center w-8 h-8 transition-all duration-300 rounded-full cursor-pointer hover:bg-secondary-teal bg-primary-teal;
	}
}
